<div class="profile-detail" metastats-user="{{profile.vcard.email}}">
	<div class="row profile-header">
		<div class="col-md-12">
			<img ng-src="{{profile.vcard.photo.photoURL}}"
				class="profile-image img-thumbnail" />
			<h1>{{profile.vcard.fn}} <small>({{profile.userID}})</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="profile-summary" ng-repeat="extra in extras"
				ng-include="extra.summaryInclude"></div>
		</div>
		<div class="col-md-8">
			<div class="profile-section" ng-repeat="extra in extras"
				ng-include="extra.sectionInclude"></div>
		</div>
	</div>

</div>