<div class="profile-detail" metastats-user="{{profile.vcard.email}}">
	<div class="row" ng-show="!profile && !loadError">
      <div class="alert alert-info col-md-6 col-md-offset-3">
        <i class="fa fa-spinner fa-spin"></i>
        Loading profile data
      </div>
    </div>
	<div class="row" ng-show="!profile && loadError">
      <div class="alert alert-danger col-md-6 col-md-offset-3">
        <i class="fa fa-warning"></i>
        Error loading profile data. Please refresh to try again.
      </div>
    </div>
    <div class="row profile-header" ng-show="profile">
		<div class="col-md-12">
			<img ng-src="{{profile.vcard.photo.photoURL}}"
				class="profile-image img-thumbnail" />
			<h1>{{profile.vcard.fn}} <small>({{profile.userID}})</small></h1>
		</div>
	</div>
	<div class="row" ng-show="profile">
		<div class="col-md-4">
			<div class="profile-summary" ng-repeat="extra in extras"
				ng-include="extra.summaryInclude"></div>
		</div>
		<div class="col-md-8">
			<div class="profile-section" ng-repeat="extra in extras"
				ng-include="extra.detailInclude"></div>
		</div>
	</div>

</div>