<section class="profile-summary-section"
	ng-controller='profilesSkillsExtrasCtrl' ng-show='skills.hasSkills'>
		<h4>Skills</h4>
		<p ng-show="skills.count == 1">
			<a ng-href='#/skill/{{profile.skills[0].skillName}}'>{{profile.skills[0].skillName}}</a>
		</p>
		<p ng-if="skills.count == 2">
			<a ng-href='#/skill/{{profile.skills[0].skillName}}'>{{profile.skills[0].skillName}}</a> and
			<a ng-href='#/skill/{{profile.skills[1].skillName}}'>{{profile.skills[1].skillName}}</a>
		</p>
		<p ng-if="skills.count == 3">
			<a ng-href='#/skill/{{profile.skills[0].skillName}}'>{{profile.skills[0].skillName}}</a>,
			<a ng-href='#/skill/{{profile.skills[1].skillName}}'>{{profile.skills[1].skillName}}</a>, and one other
		</p>
		<p ng-if="skills.count > 3">
			<a ng-href='#/skill/{{profile.skills[0].skillName}}'>{{profile.skills[0].skillName}}</a>,
			<a ng-href='#/skill/{{profile.skills[1].skillName}}'>{{profile.skills[1].skillName}}</a>, and {{skills.count - 2}} others
		</p>
</section>