target/
*.class
*.jar
*.war
*.ear

*.iml
*.ipr
*.iws
*.ids
.idea/

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
.classpath
.settings/
.loadpath
.checkstyle


*.launch

.cproject

.buildpath

rebel.xml

coverage.ec

bin

