body {
	padding-top: 50px;
}

.profile-header {
	padding: 15px 0;
}

.profile-header img.profile-image {
	width: 90px;
	vertical-align: middle;
}

.profile-header h1 {
	display: inline;
	margin-left: 10px;
	vertical-align: middle;
}

ul.badges img {
	width: 90px;
}

/* List page styles */

.person .img-thumbnail {
  width: 32px;
}

/* Search styles */

#find-people-toggle {
  cursor: pointer;
}

#find-people-dropdown {
  right: 0;
  left: auto;
}

#searchForm {
  width: 400px;
  padding: 10px;
}