body {
	padding-top: 50px;
}

.profile-header {
	padding: 15px 0;
}

.profile-header img.profile-image {
	width: 90px;
	vertical-align: middle;
}

.profile-header h1 {
	display: inline;
	margin-left: 10px;
	vertical-align: middle;
}

ul.badges img {
	width: 90px;
}

/* Header styles */

.navbar-neon {
  height: 47px;
  min-height: 47px;
  padding: 3px;
  
  background: #F1F1F1;
  color: #777;
  
  border-bottom: 1px solid #d4d4d4;
  
  filter: none; 
  
}

.navbar-neon .app_logo {
  float: left;
  margin-right: 9px;
  position: relative;
  top: -5px;
  padding-top: 5px;
}

.navbar-neon .app_logo a {
  float: left;
  padding: 0px;
  margin: 0 6px;
}

.navbar-neon .app_logo h1 {
  margin: 0;
  background: url(http://10.66.2.243/assets/xlogo-black.png.pagespeed.ic.QTt12uHEfA.png) no-repeat center 1px;
  background-size: 38px;
  float: left;
  height: 40px;
  width: 40px;
  color: #474d57;
  text-shadow: 0 1px 1px #fff;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  text-indent: -9999px; 
}

.navbar-neon .app_logo .separator {
  float: left;
  height: 46px;
  width: 2px;
  margin-top: -3px;
  margin-left: 0;
  margin-right: 0;
  background: #f9f9f9;
  border-left: 1px solid #ddd;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0;
  font-size: 16px;
}

.navbar-neon a {
  color: #474d57;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  padding: 10px;
}

.navbar-neon .navbar-nav>li>a {
  padding: 10px;
}

.navbar-neon .navbar-nav>li>a.dropdown-toggle {
  padding-bottom: 13px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #e9e9e9;
}

.tooltip.bottom {
  display: block;
  font-size: 11px;
}

.tooltip-inner {
  white-space: nowrap;
}

/* List page styles */

.person .img-thumbnail {
  width: 32px;
}

/* Search styles */

#find-people-toggle {
  cursor: pointer;
}

#find-people-dropdown {
  right: 0;
  left: auto;
}

#searchForm {
  position: relative;
  top: -5px;
  max-width: 400px;
}

/* Badges */

.badges li img {
  cursor: pointer;
}

.popover-content p {
  color: #999;
}

.popover-content dl {
  margin-bottom: 10px;
}