body {
	padding-top: 50px;
}

.profile-header {
	padding: 15px 0;
}

.profile-header img.profile-image {
	width: 90px;
	vertical-align: middle;
}

.profile-header h1 {
	display: inline;
	margin-left: 10px;
	vertical-align: middle;
}

ul.badges img {
	width: 90px;
}

/* Header styles */

.navbar-neon {
  height: 47px;
  min-height: 47px;
  padding: 3px;
  
  background: #F1F1F1;
  color: #777;
  
  border-bottom: 1px solid #d4d4d4;
  
  filter: none; 
  
}

.navbar-neon a {
  color: #474d57;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
  padding: 10px;
}

.navbar-neon .navbar-nav>li>a {
  padding: 10px;
}

.navbar-neon .navbar-nav>li>a.dropdown-toggle {
  padding-bottom: 13px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #e9e9e9;
}

/* List page styles */

.person .img-thumbnail {
  width: 32px;
}

/* Search styles */

#find-people-toggle {
  cursor: pointer;
}

#find-people-dropdown {
  right: 0;
  left: auto;
}

#searchForm {
  width: 400px;
  padding: 10px;
}