<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- application context -->
    <bean class="com.surevine.neon.util.SpringApplicationContext"/>
    
    <!-- registries -->
    <bean name="importRegistry" class="com.surevine.neon.inload.ImportRegistry" factory-method="getInstance">
        <property name="registry">
            <set>
                <ref bean="basicDetailsImporter" />
                <ref bean="findImporter" />
                <ref bean="mediaWikiImporter" />
                <ref bean="gitlabImporter" />
            </set>
        </property>
    </bean>

    <bean name="feedRegistry" class="com.surevine.neon.inload.FeedRegistry" factory-method="getInstance">
        <property name="registry">
            <set>
                <ref bean="doesNothingExampleFeed" />
            </set>
        </property>
    </bean>
    
    <!-- DAO and data handlers -->
    <bean name="jedis" class="com.surevine.neon.redis.PooledJedisProxy" />
    
    <bean name="abstractPersistenceHandler" class="com.surevine.neon.dao.impl.AbstractNamespaceHandler" abstract="true">
        <property name="importerConfigurationDAO" ref="importerConfigurationDAO" />
        <property name="jedis" ref="jedis" />
    </bean>
    
    <bean name="profileDAO" class="com.surevine.neon.dao.impl.ProfileDAOImpl">
        <property name="jedis" ref="jedis" />
        <property name="handlers">
            <list>
                <bean class="com.surevine.neon.dao.impl.ActivityPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.AdditionalPropertiesPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.BasicDetailsPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.ConnectionsPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.ProjectPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.SkillsPersistenceHandler" parent="abstractPersistenceHandler" />
                <bean class="com.surevine.neon.dao.impl.StatusPersistenceHandler" parent="abstractPersistenceHandler" />
            </list>
        </property>
    </bean>

    <bean name="importerConfigurationDAO" class="com.surevine.neon.dao.impl.ImporterConfigurationDAOImpl" init-method="clearImporterConfiguration">
        <property name="jedis" ref="jedis" />
    </bean>

    <bean name="feedConfigurationDAO" class="com.surevine.neon.dao.impl.FeedConfigurationDAOImpl" init-method="clearFeedConfiguration">
        <property name="jedis" ref="jedis" />
    </bean>
    
    <!-- service definitions -->
    <bean name="profileService" class="com.surevine.neon.service.impl.ProfileServiceImpl">
        <property name="dao" ref="profileDAO" />
    </bean>

    <bean name="inloadControlService" class="com.surevine.neon.service.impl.InloadControlServiceImpl">
        <property name="registry" ref="importRegistry" />
        <property name="importerConfigurationDAO" ref="importerConfigurationDAO"/>
    </bean>
    
    <!-- data importers - add to importRegistry above -->
    <bean name="baseImporter" class="com.surevine.neon.inload.importers.AbstractDataImporter" abstract="true">
        <property name="configurationDAO" ref="importerConfigurationDAO"/>
        <property name="profileDAO" ref="profileDAO"/>
    </bean>
    
    <bean name="basicDetailsImporter" class="com.surevine.neon.inload.importers.BasicDetailsImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="findImporter" class="com.surevine.neon.inload.importers.find.FindImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="mediaWikiImporter" class="com.surevine.neon.inload.importers.mediawiki.WikiProfileImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="gitlabImporter" class="com.surevine.neon.inload.importers.gitlab.GitlabProfileImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="jiveImporter" class="com.surevine.neon.inload.importers.jive.JiveImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>
    
    <!-- data feeds - add to feedRegistry above -->
    <bean name="baseFeed" class="com.surevine.neon.inload.feeds.AbstractDataFeed" abstract="true">
        <property name="configurationDAO" ref="feedConfigurationDAO"/>
    </bean>
    
    <bean name="doesNothingExampleFeed" class="com.surevine.neon.inload.feeds.DoesNothingExampleFeed" parent="baseFeed">
        <property name="enabled" value="true" />
        <property name="sourcePriority" value="1" />
    </bean>
</beans>