<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean class="com.surevine.neon.util.SpringApplicationContext"/>
    
    <bean name="importRegistry" class="com.surevine.neon.inload.ImportRegistry" factory-method="getInstance">
        <property name="registry">
            <set>
                <ref bean="basicDetailsImporter" />
            </set>
        </property>
    </bean>
    
    <bean name="profileDAO" class="com.surevine.neon.dao.impl.ProfileDAOImpl" />

    <bean name="importerConfigurationDAO" class="com.surevine.neon.dao.impl.ImporterConfigurationDAOImpl" />
    
    <bean name="profileService" class="com.surevine.neon.service.impl.ProfileServiceImpl">
        <property name="dao" ref="profileDAO" />
    </bean>

    <bean name="inloadControlService" class="com.surevine.neon.service.impl.InloadControlServiceImpl">
        <property name="registry" ref="importRegistry" />
        <property name="importerConfigurationDAO" ref="importerConfigurationDAO"/>
    </bean>
    
    <!-- importers here. add to importRegistry above -->
    <bean name="baseImporter" class="com.surevine.neon.inload.importers.AbstractDataImporter" abstract="true">
        <property name="configurationDAO" ref="importerConfigurationDAO"/>
        <property name="profileDAO" ref="profileDAO"/>
    </bean>
    
    <bean name="basicDetailsImporter" class="com.surevine.neon.inload.importers.BasicDetailsImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="findImporter" class="com.surevine.neon.inload.importers.find.FindImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>

    <bean name="mediaWikiImporter" class="com.surevine.neon.inload.importers.mediawiki.WikiProfileImporter" parent="baseImporter">
        <property name="enabled" value="true" />
        <property name="cacheTimeout" value="120" />
        <property name="sourcePriority" value="1" />
    </bean>
</beans>